/*MENU PAGE ARROW*/
header {
  position: relative;
}

.arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

a:active {
  color: black;
}
/*MENU PAGE ARROW*/

.french-img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  -webkit-animation: load 1s;
  animation: load 1s;
}

.french {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 2.5rem 2.5rem 0 0;
  top: 220px;
  position: relative;
  padding: 20px;
  -webkit-animation: load 0.75s;
  animation: load 0.75s;
}

.french-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  margin-left: -9px;
  font-weight: 400;
}

.french-title > h1 {
  font-size: 25px;
}

.french-title > .hearts {
  margin-left: 40px;
}

.service {
  margin-top: 20px;
  font-size: 20px;
  font-family: "roboto", sans-serif;
  margin-left: 20px;
  border-bottom: 3px solid #99e2d0;
  width: 15%;
  color: black;
  position: relative;

  margin-left: 15px;
  margin-right: 25px;
}

p.service {
  margin-top: 17px;
  margin-left: 10px;
  font-size: 20px;
  padding-top: 20px;
}

/*Blocs menus*/
.menu-bloc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
  overflow: hidden;
}

div.menu-bloc {
  /*animation: dish 3s;*/
  animation-delay: 0.1s;
}

.menu-bloc-body {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "roboto", sans-serif;
  font-weight: bold;
}
.menu-bloc-subtext {
  margin-top: 5px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto", sans-serif;
  margin-bottom: 5px;
}
.menu-bloc p {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto", sans-serif;
}

.menu-bloc-right {
  display: flex;
  margin-right: -60px;
}
.menu-bloc-price {
  font-size: 18px;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
}
.menu-bloc-icon {
  background-color: #99e2d0;
  color: white;
  height: 85px;
  width: 60px;
  border-radius: 0px 20px 20px 0px;
  font-size: 25px;
}
.fa-check-circle {
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  margin-top: 30px;
  margin-left: 15px;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}
.btn > a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn {
  padding: 15px;
  width: 50%;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: 0px solid transparent;
  background: linear-gradient(#ff79da, #9356dc);
  margin-top: 100px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 107px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.footer-french {
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .french {
    border: none;
    border-radius: 0px;
    justify-content: center;
    border-radius: 0px;
    top: 254px;
  }

  .service {
    width: 5%;
  }

  p.service {
    font-size: 25px;
  }

  .french-title > h1 {
    font-size: 30px;
  }

  .menu {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .menu-bloc {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 85px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-left: 250px;
  }

  a {
    width: 100%;
  }

  .btn {
    width: 50%;
    margin-left: 247px;
  }
}

@media (min-width: 1200px) and (max-width: 2000px) {
  .french {
    border-radius: 0px;
    top: 254px;
  }
  .menu-page-main {
    display: flex;
  }

  .menu {
    width: 33%;
  }
  .menu-bloc {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 85px;
    margin-bottom: 20px;
    margin-right: 33px;
    margin-left: 47px;
  }
  .french-title > h1 {
    margin-left: 50px;
    font-size: 35px;
  }
  p.service {
    margin-left: 50px;
  }
  .btn {
    width: 35%;
    margin-left: 488px;
  }
}
